<!-- Jumbotron ====================== -->
<div class="center jumbotron home">
<h1>Find, review and enjoy tutoring</h1>
<h2>Find the best tutors in New York to learn more:</h2>

<div class="well full-search-bar">
  <small>CATEGORY</small>
  <%= form_tag lessons_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search], 
          placeholder: " I'm looking for" %>
      <%= button_tag(type: "submit", class: "btn btn-primary btn-lg") do %>
        <i class="fa fa-search"></i> SEARCH
      <% end %>
  <% end %>
</div>

<a class="btn btn-success btn-lg" href="<%= signup_path%>">
<i class="fa fa-download fa-lg"></i> Sign up now!</a>


</div>

<div class="center container">
<div class="page-header">
  <h1>How it works <small>Our teachers</small></h1>
</div>
<div class="row">
<div class="well col-md-6">
  <h1> The tutors</h1>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
<div class="well col-md-6">
  <h1> Reviews and rating</h1>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>  
</div>
<!-- Three columns of text below the carousel -->
<div class="marketing">
<div class="row">
  <% @reviews.each do |review| %>
  <div class="col-md-4">
    <%= link_to image_tag(review.reviewed.avatar_url(:profile), class: "img-circle", size: "140x140"), review.reviewed %>
    <h4><%= review.reviewed.first_name %></h4>
    <h5><i class="fa fa-home"></i> <%= review.reviewed.schools.first.name %></h5>
    <p><%= render_stars(review.rating) %></p>
    <p><i class="fa fa-quote-left"></i> <%= review.content %>
     <i class="fa fa-quote-right"></i></p>
    <p><a class="btn btn-primary" href="<%= user_path(review.reviewed) %>">
    <i class="fa fa-user"></i> View Profile</a></p>
  </div><!-- /.col-md-4 -->
  <% end %>
</div><!-- /.row -->
</div><!-- /.marketing -->

<!-- Page Header ====================== -->

<div class="page-header">
  <h1>Browse through subjects<small> Discover</small></h1>
</div>

<!-- Tag Cloud ====================== -->
<div class="panel panel-info">

<div class="panel-heading"> 
<h3 class="panel-title"><i class="fa fa-cloud"></i> Follow the latest trends</h3>
</div>

<div class="panel-body">

<div id="tag_cloud">
  <% tag_cloud Lesson.tag_counts, %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
  </div>
</div>

</div><!-- /.container -->