<li>
<span class="school"><h3><%= scholarship.school.name %></h3></span>
<span class="degree"><h4><%= scholarship.degree %></h4></span>
<span class="field"><h4><%= scholarship.field %></h4></span>
<span class="timestamp">
<%= scholarship.start_date.strftime("%Y") %> - <%= scholarship.end_date.strftime("%Y") %>
</span>
<% if current_user?(scholarship.user) %>
<%= link_to "delete", scholarship, method: :delete,
data: { confirm: "You sure?" },
title: scholarship.school.name %>
<% end %>
</li>