<div class="field name">
<%= f.label :school_name %>
<%= f.text_field :school_name, data: {autocomplete_source: schools_path}, class: "scholarship_school_name" %>
</div>
<%= f.label :degree, "Degree" %><br/>
<%= f.text_field :degree, class: "scholarship_degree" %><br/>

<%= f.label :field, "Field of Study" %><br/>
<%= f.text_field :field, class: "scholarship_field" %><br/>

<%= f.label :start_date %><br />
<%= f.date_select :start_date, discard_month: true, start_year: 1995 %>

<%= f.label :end_date %><br />
<%= f.date_select :end_date, discard_month: true, start_year: 1995  %>