<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span3">
  <ul class="nav nav-tabs nav-stacked">
  <li><a href="#">General Info</a></li>
  <li><a href="#">My Picture</a></li>
  <li><a href="#">Education</a></li>
  </ul>

  </div>
  <div class="span6">
  <%= form_for @user, :html => {:multipart => true} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= image_tag(@user.avatar_url(:profile).to_s) if @user.avatar? %>
      <%= f.label :avatar, "My Picture" %>
      <%= f.file_field :avatar %>

      <%= f.label :remove_avatar, "Remove My Picture" %>
      <%= f.check_box :remove_avatar %>

      <%= f.label :first_name, "First Name" %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name, "Last Name" %>
      <%= f.text_field :last_name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <br>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>

  <div class="span3">
    <dl>
  <dt>General Info</dt>
  <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.   </dd>
  </dl>

  </div>
</div>