<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= form_tag users_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", first_name: nil, class: "btn btn-large btn-primary" %>
  </p>
<% end %>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>