<% provide(:title, @title) %>
<div class="container profile">
<div class="row">
  <aside class="col-md-4">
    <section>
      <div class="thumbnail text-center">
      <%= link_to image_tag(@user.avatar_url(:profile)), @user %>
        <div class="caption">
        <h3>
        <%= @user.to_s %>
        </h3>
        </div>
      </div>
      <span><%= link_to "view my profile", @user %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  
  <section>
  <h3><%= @title %></h3>
    <% if @messages.empty? %>
      <h5>No messages</h5>
    <% else %>
      <ul class="messages">
        <%= render partial: 'messages/message', collection: @messages %>
      </ul>
    <% end %>
  </section>
  </aside>

  <div class="col-md-8">
    <% if @last_conv.any? %>
    <ul class="messages">
      <h3 class="center">Subject</h4>
      <h5 id="subj" class="center"><%= @last_conv.first.subject %></h5>
      <div class="chute">
        <%= render partial: "messages/chat_message", collection: @last_conv %>
      </div>
    </ul>
    <% end %>
  </div>
</div>
</div>