<% provide(:title, @user.to_s) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
      <div class="avatar">
      <%= link_to image_tag(@user.avatar_url(:profile)), @user %>
      </div>
      <br />
      <%= @user.to_s %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
     <%= render 'users/review_form' if signed_in? %>
    </section>
    <section>
      <%= link_to "Post New Lesson", new_lesson_path,
class: "btn btn-large btn-primary" %>
      
    </section>
  </aside>
  
  <div class="span8">
    <ul class="nav nav-tabs" id="myTab">
    
    <li class="active"><a href="#home" data-toggle="tab"><i class="icon-comment"></i> Reviews</a></li>
    
    <li><a href="#profile" data-toggle="tab"><i class="icon-camera-retro"></i> Profile</a></li>
    
    <% if current_user?(@user) %>
    <li><a href="#edit_profile" data-toggle="tab"><i class="icon-edit"></i> Edit Profile</a></li>
    <% end %>
    
    <li><a href="#messages" data-toggle="tab"><i class="icon-bullhorn"></i> Lessons</a></li>
    
    <li><a href="#settings" data-toggle="tab"><i class="icon-group"></i> Groups</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
    
    <div class="tab-pane fade in active" id="home">
    <h4>Reviews Received (<%= @user.reverse_reviews.count %>)</h4>
    <% if @user.reverse_reviews.any? %>
    <ul class="reviews">
      <%= render partial: 'reviews/reverse_review', collection: @reverse_reviews %>
    </ul>
    <%= will_paginate @reverse_reviews %>
    <% end %>
    <hr>
    <h4>Reviews Made (<%= @user.reviews.count %>)</h4>
    <% if @user.reviews.any? %>
    <ul class="reviews">
      <%= render @reviews %>
    </ul>
    <%= will_paginate @reviews %>
    <% end %>
    </div>

    <div class="tab-pane fade" id="profile">
    <h4><i class="icon-book icon-large icon-border"></i> Education</h4>
    <% if @user.scholarships.any? %>
    <ul class="educations">
      <%= render @scholarships %>
    </ul>
    <% end %>
    <br>
    <h4><i class="icon-briefcase icon-large icon-border"></i> Positions</h4>
    
    </div>

    <div class="tab-pane fade" id="edit_profile">
    <% if current_user?(@user) %>
    <%= form_for(current_user.scholarships.build) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
    <%= f.label :school_name %>
    <%= f.text_field :school_name, data: {autocomplete_source: schools_path} %>
    </div>
    <%= f.label :degree, "Degree" %><br/>
    <%= f.text_field :degree %><br/>

    <%= f.label :field, "Field of Study" %><br/>
    <%= f.text_field :field %><br/>

    <%= f.label :start_date %><br />
    <%= f.date_select :start_date, discard_month: true, start_year: 1995 %>

    <%= f.label :end_date %><br />
    <%= f.date_select :end_date, discard_month: true, start_year: 1995  %>

    <%= f.submit "Add Education", class: "btn btn-large btn-primary" %>
    <% end %>
    <% end %>

    <%= render @scholarships %>

    </div>

    <div class="tab-pane" id="messages">
      <% if @user.lessons.any? %>
      <h4>Lessons (<%= @user.lessons.count %>)</h4>
      <ul class="lessons">
        <%= render @lessons %>
      </ul>
      <% end %>
    </div>
    
    <div class="tab-pane" id="settings">...</div>
    </div>

  </div>
</div>