<% @user ||= current_user %>
<div class="stats">
  <a href="<%= group_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.groups.count %>
    </strong>
    groups
  </a>

    <a href="<%= reviewing_user_path(@user) %>">
	<strong id="reviewing" class="stat">
	<%= @user.reviewed_users.count %>
	</strong>
	reviewing
  </a>

  <a href="<%= reviewers_user_path(@user) %>">
	<strong id="reviewers" class="stat">
	<%= @user.reviewers.count %>
	</strong>
	reviewers
  </a>
</div>