<% provide(:title, 'Edit Lesson') %>
<h1>Edit lesson</h1>
<div class="row">
<div class="span6 offset3">
<%= form_for(@lesson) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<%= f.label :title %>
<%= f.text_field :title %>
<div class="field">
<%= f.label :category_tokens, "Categories" %>
<%= f.text_field :category_tokens, data: {load: @lesson.categories} %>
</div>
<%= f.label :content %>
<%= f.text_area :content, :size => "25x10" %>
<%= f.label :price, 'Price per hour' %>
<%= f.number_field :price, :min => 0 %>


<%= f.submit "Update my lesson", class: "btn btn-large btn-primary" %>
<% end %>
</div>
</div>