<% provide(:title, 'New Lesson') %>
<h1>Create a new lesson</h1>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= form_for(@lesson) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<%= f.label :title %>
<%= f.text_field :title %>
<div class="field">
<%= f.label :category_tokens, "Categories" %>
<%= f.text_field :category_tokens %>
</div>
<%= f.label :content %>
<%= f.text_area :content, :size => "25x10" %>
<%= f.label :price, 'Price per hour' %>
<%= f.number_field :price, :min => 0 %>


<%= f.submit "Create my lesson", class: "btn btn-large btn-primary" %>
<% end %>
</div>
</div>