
<div class="center jumbotron">
<h1>Lesson</h1>
</div>
<div class="container">
<div class="row">
<div class="col-md-6 col-md-offset-3">

<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Price per hour:</strong>
  <%= number_to_currency(@lesson.price) %>
</p>

<p>
Posted <%= time_ago_in_words(@lesson.created_at) %> ago.
</p>

<strong>Categories:</strong>
<ul>
<% @lesson.categories.each do |cat| %>
  <li><%= cat.name %></li>
<% end %>
</ul>


<p>
	<strong>Content:</strong>
<%= @lesson.content %>
</p>

<h3>Nearby Lessons</h3>
<ul>
<% for lesson in @lesson.nearbys(10) %>
  <li><%= link_to lesson.title, lesson %> (<%= lesson.distance.to_f.round(2) %> miles)</li>
<% end %>
</ul>

<p>
  <%= link_to "Edit", edit_lesson_path(@lesson) %> |
  <%= link_to "Destroy", @lesson, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", lessons_path %>
</p>

</div>
</div>
</div>