<li>
	
<span class="avatar">
<%= link_to image_tag(review.reviewed.avatar_url(:thumb), size: "52x52"), review.reviewed %>
</span>

<span class="stars_and_timestamp">
<%= render_stars(review.rating) %>
<span class="timestamp">
Reviewed <%= time_ago_in_words(review.created_at) %> ago.</span>
</span>

<span class="user">
<%= link_to review.reviewed.to_s, review.reviewed %>
</span>

<span class="content"><%= review.content %></span>


<% if current_user?(review.reviewer) %>
<%= link_to "delete", review, method: :delete,
						data: { confirm: "Are you sure?" },
						title: review.content %>
<% end %>

</li>