<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
  <%= link_to "sample app", root_path, id: "logo" %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if signed_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li id="fat-menu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="<%= user_path(current_user) %>"><i class="fa fa-home"> Profile</i></li>

            <li><a href="<%= inbox_user_path(current_user) %>"><i class="fa fa-envelope"> Messages</i></li>

            <li><a href="<%= edit_user_path(current_user) %>"><i class="fa fa-cog"> Settings</i></li>

            <li class="divider"></li>
            <li>
              <%= link_to "Sign out", signout_path, method: "delete" %>
            </li>
          </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign in", signin_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>