<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" id="logo" href="<%= root_path %>">eTeachrs <small> beta</small></a>
        </div><!-- navbar-header -->

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
          <% if signed_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li id="fat-menu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
          <li><a href="<%= user_path(current_user) %>">
          <i class="fa fa-home"> Profile</i></li>

          <li><a href="<%= inbox_user_path(current_user) %>">
          <i class="fa fa-envelope"> Messages</i></li>

          <li><a href="<%= edit_user_path(current_user) %>">
          <i class="fa fa-cog"> Settings</i></li>

          <li class="divider"></li>
          <li>
          <%= link_to "Sign out", signout_path, method: "delete" %>
          </li>
          </ul>
          </li><!-- dropdown -->
          <% else %>
          <li class="active"><a class="btn btn-outline-inverse btn-lg" href="<%= signup_path%>">Sign up</a></li>
          <li><a class="btn btn-outline-inverse btn-lg" href="<%= signin_path%>">Sign in</a></li>
          <% end %>
          </ul><!-- ul nav nabar-nav -->
        </div><!-- navbar collapse -->
      </div><!-- container -->
    </div>
  </div>
</div>

